@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ==========================================================================
   VARIABLES & RESET
   ========================================================================== */

:root {
  scroll-behavior: smooth;
  --pc: #3498db;
  --sc: #000;

}

body {
  color: var(--sc);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  line-height: 1.8;
  margin: 0 0 20px 0;
}

a {
  color: var(--pc);
  text-decoration: none;
}

a:hover {
  color: var(--pc) !important;
}

.web-a {
  color: var(--sc);
}

.web-a:hover {
  color: var(--pc);
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.page-heading {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}


/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pb50 {
  padding-bottom: 50px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}


/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn-a {
  background: #0000005c;
  color: #fff !important;
  padding: 5px 25px;
  border-radius: 50px;
}

.btn-a:hover {
  background: #000;
  color: #fff !important;
}

.btn-web {
  background: #043565;
  color: #fff;
  padding: 8px 24px;
  border-radius: 100px;
}

.btn-web:hover {
  background: #000;
  color: #fff !important;
}

.btn-custom {
  background-color: #02c0ce;
  border-color: #02c0ce;
}

.btn-custom,
.btn-danger,
.btn-info,
.btn-inverse,
.btn-pink,
.btn-primary,
.btn-purple,
.btn-success,
.btn-warning {
  color: #fff !important;
}

.ser-btn-web {
  padding: 8px 24px;
  border-radius: 100px;
  margin-bottom: 15px !important;
  margin-right: 15px;
  border: 1px solid #2183c5;
  color: #000;
}

.login-btn {
  background: #fff;
  padding: 6px 24px;
  border-radius: 60px;
  color: #000;
  border: 2px solid #fff0;
}

.login-btn:hover {
  color: #fff !important;
  border: 2px solid #fff;
  background: #fff0;
}


/* ==========================================================================
   HEADER & NAVBAR
   ========================================================================== */

.header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid #ffffff63;
  padding: 10px;
}

.sticked {
  height: 50px;
  background: #2183c5;
}

.sticked #logo img {
  height: 25px;
  width: auto;
}

.navbar-light .nav-link {
  margin-right: 25px;
  color: #fff !important;
  font-weight: 400;
  letter-spacing: .5px;
  text-decoration: none !important;
}

.navbar-light .nav-link:focus,
.navbar-light .nav-link:hover {
  color: #fff !important;
}

.navbar-light .navbar-toggler {
  border-color: rgb(255 255 255);
  padding: 8px 10px;
}

#navbarSupportedContent {
  justify-content: right;
}

/* Navbar Dropdown */

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ff0909;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 220px;
}

.navbar .dropdown ul a {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744 !important;
  border: none;
}

/* .navbar .dropdown ul a i {
  font-size: 12px;
} */

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #ff0909;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.navbar .megamenu {
  padding: 1rem;
}


/* ==========================================================================
   HERO SECTION
   ========================================================================== */

#hero {
  width: 100%;
  background: url("https://getanswerss.com/wp-content/uploads/2026/03/hero-img.jpg");
  position: relative;
  padding: 120px 0 0 0;
}

#hero:before {
  content: "";
  background: #2887c7de;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  position: relative;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Hero Waves */

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/* Search Bar */

#askxquad-search {
  max-width: 800px;
  margin: 1.5rem auto 0 auto;
  border-radius: 100px;
  border: 8px solid #ffffff5c;
  position: relative;
}

#askxquad-search .form-control {
  border: none;
  padding: 0 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 60px;
  box-shadow: none;
}

#askxquad-search .btn,
#askxquad-search .btn:hover {
  background: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 1.5rem 0 1.25rem;
  height: 60px;
  width: auto;
  font-size: 20px;
  border: none;
  color: #2e5d9f;
  opacity: 1;
  box-shadow: none !important;
}

#askxquad-search .custom-select,
#askxquad-search .custom-select:focus {
  border: none;
  padding: 0 0.75rem;
  height: 60px;
  box-shadow: none;
  max-width: 160px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  outline: 0;
  background-size: 10px 12px;
  z-index: 9;
}

.search-sec h1 {
  font-size: 50px;
  padding-bottom: 20px;
}


/* ==========================================================================
   BRANDS SECTION
   ========================================================================== */

.brands {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  /* align-items: center; */
}

/* .brands+p {
  text-align: center;
  margin-top: 50px;
} */

.brands .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  transition: all 0.3s;
}

.brands .icons img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  transition: all 0.3s;
}

.brands a span {
  color: var(--sc);
}

.icons:hover {
  transform: translateY(-10px);
}

.icons:hover img {
  transform: scale(0.6);
}


/* ==========================================================================
   CARD & TEXT COMPONENTS
   ========================================================================== */

.rd-card .title {
  font-size: 1.25rem;
  font-weight: 600 !important;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rd-textflow {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-b {
  background-color: #ebf3f3;
  border-radius: 5px;
  padding: 4px 15px;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.blue-box ,
.green-box{
  display: flex;
  flex-direction: column;
align-items: center;
}

.blue-box .btn,
.green-box .btn{
margin-top: auto;
}

.blue-box {
  background-color: #2183c5;
  padding: 40px;
  height: 100%;
}

.green-box {
  background-color: #32b56c;
  padding: 40px;
  height: 100%;
}

.blue-box svg,
.green-box svg {
  padding: 12px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: #00000059;
  margin-right: 15px;
  color: #fff;
  line-height: 25px;
}

.blue-box span,
.green-box span {
  font-size: 28px;
  color: #fff;
}

.counter-box {
  background: #2183c5;
  padding: 24px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #fff;
}

.counter-box h3 {
  color: #fff;
}

.team-sec {
  transform: translateY(0);
  transition: all .3s ease 0s;
}

.team-sec:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 8px 0px #ccc;
}


/* ==========================================================================
   HR LINE AND BLOGS SECTION
   ========================================================================== */

.hr-line>div:nth-child(2) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hr-line>div>div:not(:first-child) {
  padding-top: 50px;
  position: relative;
}

@media (min-width: 1024px) {
  .hr-line>div:not(:first-child) {
    border-left: 1px solid #c7c7c7;
  }
}


/* ==========================================================================
   HOW SECTION
   ========================================================================== */

.how-points {
  margin-bottom: 35px;
}

.how-points span {
  font-size: 22px;
  font-weight: 600;
}

.register-bg {
  border: 1px solid #ccc;
  padding: 30px 60px;
  border-radius: 100px;
  background-color: #cccccc80;
}

.register-bg span {
  font-size: 24px;
  font-weight: 600;
}


/* ==========================================================================
   PAGE HEADER
   ========================================================================== */

.page-header {
  background: url(../img/page-banner--.jpg) no-repeat center / cover;
  position: relative;
  padding: 9rem 0 3rem;
}

.page-header .title-single-box {
  padding: 0 0 0 2rem;
  border-left: 3px solid #3498db;
  color: #fff;
}

.page-header .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

.page-header .breadcrumb-box {
  padding: 1rem 0 0 0.5rem;
}

.page-header .breadcrumb {
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
  color: #fff;
}

.page-header .breadcrumb .breadcrumb-item a {
  color: #fff !important;
}

.page-header .breadcrumb-item.active {
  color: #ddd;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
  color: #ffffff;
}


/* ==========================================================================
   SINGLE / ALL PAGE
   ========================================================================== */

.single-sec {
  padding: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
}

.single-sec ul li {
  width: 100%;
  margin-bottom: 0.5rem;
  counter-increment: term;
  list-style: none;
}

.single-sec ul li:before {
  content: counter(term) " ";
  font-size: 1.5rem;
  margin-top: 4px;
  margin-right: 0.5em;
  font-weight: 500;
  line-height: 1.7;
}

.all-page ul {
  padding-left: 2rem !important;
}

.all-page li {
  line-height: 2;
}

.steps-head {
  padding-left: 2rem !important;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.icon-i img {
  height: 100px;
  margin-right: 15px;
}

.medical-ser {
  margin-bottom: 30px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #e5e5e5cc;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.about-bg {
  background: url(../img/about-bg.jpg) no-repeat center / cover;
}

.wp-block-columns {
  margin-bottom: 10px;
}


/* ==========================================================================
   CONTACT
   ========================================================================== */

.contact-box {
  border-bottom: 1px solid #cccc;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.contact-box .icon i {
  font-size: 30px;
  background: #2183c5;
  padding: 15px;
  border-radius: 50%;
  color: #fff;
  margin-right: 20px;
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 36px;
}

.contact-box a {
  color: #000;
}


/* ==========================================================================
   SEARCH RESULTS
   ========================================================================== */

.search-result-box .tab-content {
  padding: 30px 30px 10px 30px;
  box-shadow: none;
}

.search-result-box .search-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3eaef;
  margin-bottom: 20px;
}

.text-success {
  color: #0acf97 !important;
}


/* ==========================================================================
   LOGIN FORM
   ========================================================================== */

.login-form {
  width: 450px;
  margin: 30px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 3px 2px rgb(0 0 0 / 30%);
  padding: 30px;
  border: 1px solid #cccc;
}

.login-form h2 {
  margin: 0 0 15px;
}

.input-group-prepend .fa {
  font-size: 18px;
}

.form-group {
  margin-bottom: 20px;
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}

.social-btn .btn:hover {
  opacity: 0.9;
  color: #fff !important;
}

.social-btn .btn-secondary,
.social-btn .btn-secondary:active {
  background: #507cc0 !important;
}

.social-btn .btn-info,
.social-btn .btn-info:active {
  background: #64ccf1 !important;
}

.social-btn .btn-danger,
.social-btn .btn-danger:active {
  background: #df4930 !important;
}


/* ==========================================================================
   POPUP MODAL
   ========================================================================== */

.popup-modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 99999 !important;
  display: none !important;
  justify-content: center;
  align-items: center;
}

.popup-modal.show {
  display: flex !important;
}

.popup-modal .form-container {
  position: relative;
}


.popup-close {
  position: absolute !important;
  top: 30px !important;
  right: 20px !important;
  font-size: 30px;
  cursor: pointer;
  color: #999;
  z-index: 1000;
}


/* ==========================================================================
   BACK TO TOP
   ========================================================================== */

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--pc);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  border: 1px solid #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  background-color: #000;
  color: #f8f9fa;
  margin-top: 80px;
  padding-block: 50px 20px;
}

footer p {
  color: #c7c7c7 !important;
}

footer a {
  color: #c7c7c7;
}

.footer-h {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-h::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 25px;
  height: 3px;
  background-color: var(--pc);
}

.top-social-icon li {
  display: inline-block;
  padding-bottom: 0 !important;
}

.top-social-icon li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.top-social-icon li a:hover {
  background: var(--pc);
}

.top-social-icon li a:hover svg {
  fill: #fff;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.about ul li,
footer .list-unstyled li:not(:last-of-type) {
  padding-bottom: 15px;
}

.foot-menu ul {
  padding-left: 0;
}

.foot-menu ul li {
  display: flex;
  align-items: center;
  color: #fff;
}

.foot-menu span {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding-right: 20px;
}

.site-logo img {
  width: 253px;
}


/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

@media (min-width: 992px) {
  .navbar .megamenu {
    position: static !important;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }

  .hr-line>div>div:not(:first-child):before {
    background: #c7c7c7;
    content: "";
    display: block;
    height: 1px;
    margin: 25px 0;
    position: absolute;
    right: -.75rem;
    top: 0;
    width: calc(100% + 1.5rem);
  }

  .hr-line>div:not(:first-child) {
    padding-top: 50px;
    position: relative;
  }

  .hr-line>div:not(:first-child):before {
    background: #c7c7c7;
    content: "";
    display: block;
    height: 1px;
    margin: 25px 0;
    position: absolute;
    top: 0;
    width: calc(100% - 1.5rem);
  }

  .hr-line .col-lg-4:nth-child(2) {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    max-width: 50%;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .brands{
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
}

@media (max-width: 600px) {
  /* #navbarSupportedContent {
    background: #fff;
  } */

  #navbarSupportedContent .nav-link {
    color: #000 !important;
    margin-left: 25px;
  }

  button:focus:not(:focus-visible) {
    box-shadow: none;
  }

  #hero h1 {
    padding-top: 30px;
  }

  .heading {
    font-size: 28px;
  }

  .how-points span {
    font-size: 18px;
  }

  .pt80 {
    padding-top: 30px;
  }

  .register-bg {
    padding: 20px 30px;
    border-radius: 0;
  }

  .register-bg span {
    font-size: 18px;
  }


  .foot-menu {
    margin-top: 20px;
  }

  .footer-h {
    font-size: 16px;
  }

  .blue-box .icon-sec,
  .green-box .icon-sec{
    flex-direction: column;
    gap: 10px;
  }

  .brands{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}